/**
* 	질문/답변 게시판 CSS
*/

/* 테이블 기초 설정 */
#QNA th { text-align: center; }
#QNA .line { cursor: pointer; }
#QNA .secret { cursor: auto; }
#QNA .QNA_seq { width: 80px; text-align: center; }
#QNA .QNA_subject {width: 400px; text-align:left; }
#QNA .QNA_writer { width: 120px; text-align: center; }
#QNA .QNA_regDate { width: 180px; text-align: center; }



/* view 동적 태그 */
#QNA .view { 
	background-color: #eef2ff;
	/* opacity: 0.8; */
	height: 80px;
}
#QNA .view td {
	vertical-align: middle;
}

#QNA .view #view_Q,
#QNA .view #view_A {
	font-size: 35px;
}
#QNA .view #view_Q {
	padding-left: 28px;
	color: #E9573F;
}
#QNA .view #view_A {
	padding-left: 31px; 
	color: #4A89DC;
}

#inSubject {
	margin: 10px 0px;
	/* width:710px;
	display: inline; */
}


#inContent {
	margin: 10px 0px;
	height: 150px;
}

#active {
	padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 16px;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity));
}

.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.w-full {
    width: 100%;
}
.font-normal {
    font-weight: 400;
}

.hidden {
    display: none;
}


img, video {
    max-width: 100%;
    height: auto;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}


element.style {
    background-image: url(https://okky.kr/pattern.svg);
}




.gap-y-4 {
    row-gap: 1rem;
}
.flex-col {
    flex-direction: column;
}
.grow {
    flex-grow: 1;
}
.flex {
    display: flex;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99/var(--tw-text-opacity));
}

.font-medium {
    font-weight: 500;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.flex-shrink-0, .shrink-0 {
    flex-shrink: 0;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}

    font-size: .875rem;
    line-height: 1.25rem;
}

}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}

